<div class="container article" >
  <p class="warning">IMPORTANT: This page only functions when using local or pre-funded AntTP</p>
  <form [formGroup]="articleForm" (ngSubmit)="onSubmit()">
    <div class="formElement">
      <label for="targetBlog">Publish To:</label>
      <select id="targetBlog" [formControl]="targetBlogControl">
        <option value="existingBlog">Publish to this blog ({{listXor}})</option>
        <option value="newBlog">Publish to a new blog</option>
      </select>
    </div>

    <div class="formElement">
      <label for="blogName">Blog Name:</label>
      <input type="text" id="blogName" [formControl]="blogNameControl">
    </div>

    <div class="formElement">
      <label for="articleName">Article Name:</label>
      <input type="text" id="articleName" [formControl]="articleNameControl">
    </div>

    <div class="formElement">
      <quill-editor class="editor" formControlName="html" format="html"></quill-editor>
    </div>
    <div class="formElement">
      <input id="save" type="submit" [formControl]="saveControl">
    </div>
  </form>

  <div *ngIf="articleStatus$ | async as articleStatus">
    <table>
      <tr *ngIf="articleStatus$ | async as articleStatus">
        <td class="key">Status:</td>
        <td class="value">{{articleStatus.status}} ({{articleStatus.message}})</td>
      </tr>
      <tr *ngIf="articleStatus$ | async as articleStatus">
        <td class="key">Immutable Address:</td>
        <td class="value"><a href="/blog/{{articleStatus.address}}#home" target="_blank">{{articleStatus.address}}</a></td>
      </tr>
      <tr *ngIf="pointerAddress != undefined">
        <td class="key">Pointer Address:</td>
        <td class="value"><a href="/blog/{{pointerAddress}}#home" target="_blank">{{pointerAddress}}</a></td>
      </tr>
      <tr *ngIf="registerAddress != undefined">
        <td class="key">Register Address:</td>
        <td class="value"><a href="/blog/{{registerAddress}}#home" target="_blank">{{registerAddress}}</a></td>
      </tr>
    </table>
  </div>

  <hr class="divider">
</div>
